<%= form_with(model: content) do |form| %>
  <% if content.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>
      <ul>
        <% content.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :languages, class: "block font-bold" %>
    <%= form.select :languages, options_for_select(["Hindi", "English", "Tamil", "Telgu", "Malayalam", "Marathi", "Spanish"]), { multiple: true }, class: "inp" %>
  </div>

  <div>
    <%= form.label :name, class: "block font-bold" %>
    <%= form.text_field :name, class: "inp" %>
  </div>

  <div>
    <%= form.label :available_for_kids, class: "block font-bold" %>
    <%= form.select :available_for_kids, options_for_select(["for 18+ only", "Available for all"]), class: "inp" %>
  </div>

  <div>
    <%= form.label :type_of_content, class: "block font-bold" %>
    <%= form.select :type_of_content, options_for_select(["Action", "Romance", "Science", "Thrillers", "Horror", "Bollywood", "Documentaries", "Dramas"]), { multiple: true }, class: "inp" %>
  </div>

  <div>
    <%= form.label :actor, class: "block font-bold" %>
    <%= form.text_field :actor, class: "inp" %>
  </div>

  <div>
    <%= form.label :description, class: "block font-bold" %>
    <%= form.text_area :description, class: "inp" %>
  </div>

  <div>
    <%= form.label :director, class: "block font-bold" %>
    <%= form.text_field :director, class: "inp" %>
  </div>

  <div>
    <%= form.label :trailer, class: "block font-bold" %>
    <%= form.file_field :trailer, accept: "video/*", class: "btn btn-danger mt-2 mb-2" %>
  </div>

  <div>
    <%= form.label :movie, class: "block font-bold" %>
    <%= form.file_field :movie, accept: "video/*", class: "btn btn-danger mt-2 mb-2" %>
  </div>

  <div>
    <%= form.label :poster, class: "block font-bold" %>
    <%= form.file_field :poster, accept: 'image/*', class: "btn btn-danger mt-2 mb-2" %>
  </div>

  <div>
    <%= form.label :movie_type, class: "block font-bold" %>
    <%= form.select :movie_type, options_for_select(["Movie", "Webseries"]), class: "inp" %>
  </div>

  <h2 class="font-bold mt-4">Seasons</h2>
  <div id="seasons">
    <%= form.fields_for :seasons do |season_form| %>
      <%= render 'season_fields', f: season_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Season', form, :seasons, class: "btn btn-primary mt-2 mb-2" %>
    </div>
  </div>
  
  <div>
    <%= form.submit "Submit", class: "btn btn-success mt-1" %>
  </div>
<% end %>
