<div id="<%= dom_id semi_user %>">
  <p>
    <strong>Name:</strong>
    <%= semi_user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= semi_user.age %>
  </p>

  <p>
    <strong>User:</strong>
    <%= semi_user.user_id %>
  </p>

  <p>
    <strong>Profile pic:</strong>
    <%= semi_user.profile_pic %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= semi_user.date_of_birth %>
  </p>

</div>
