<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: grey; 
  }
  .dropdown:hover .nav-link {
    background-color: black;
  }
  .nav-link {
    color: White !important;
  }
</style>

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ProStream</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <%= form_tag('/search', method: 'get', 'data-turbo-form': 'search-form') do %>
        <div class="relative flex items-center">
          <%= text_field_tag :search_term, params[:search_term], class: 'block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'Search', id: 'input-box', autocomplete: "off", style: 'margin-right: 5px;' %>
          <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <div class="result-box"></div>
        </div>
      <% end %>    
      <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" src="https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small/man-with-beard-avatar-character-isolated-icon-free-vector.jpg" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
        <ul class="py-2" aria-labelledby="user-menu-button">
          <% if admin_signed_in? %>
            <li>
              <%= button_to "Sign Out", destroy_admin_session_path, method: :delete, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
            <li>
              <%= link_to "Edit", edit_admin_registration_path, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
          <% elsif user_signed_in? %>
            <li>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
            <li>
              <%= button_to "Change_profile", session_destroy_path, method: :delete, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
            <li>
              <%= link_to "Edit", edit_user_registration_path, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
            <li>
              <%= button_to "Billing Portal", stripe_billing_portal_path, data: { turbo: 'false' }, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign In", new_user_session_path, class:'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
            </li>
          <% end %> 
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <% if admin_signed_in? || user_signed_in? %>
        <li>
          <%= link_to 'Home' , root_path, class:'block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500' %>
        </li>
        <li>
          <%= link_to 'Movie', show_movie_path, class:'block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' %>
        </li>
        <li>
          <%= link_to 'Webseries', show_webseries_path, class:'block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' %>
        </li>
        <li>
          <%= link_to 'My list', mylist_path, class:'block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700' %>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <a href="#" class="nav-link dropdown-toggle"">Categories</a>
            <div class="dropdown-content">
              <a href="<%= custom_content_path("Hindi", "languages") %>">Hindi</a>
              <a href="<%= custom_content_path("English", "languages") %>">English</a>
              <a href="<%= custom_content_path("Tamil", "languages") %>">Tamil</a>
              <a href="<%= custom_content_path("Telgu", "languages") %>">Telugu</a>
              <a href="<%= custom_content_path("Malayalam", "languages") %>">Malayalam</a>
              <a href="<%= custom_content_path("Marathi", "languages") %>">Marathi</a>
              <a href="<%= custom_content_path("Spanish", "languages") %>">Spanish</a>
              <a href="<%= custom_content_path("Action", "type_of_content") %>">Action</a>
              <a href="<%= custom_content_path("Romance", "type_of_content") %>">Romance</a>
              <a href="<%= custom_content_path("Science", "type_of_content") %>">Science</a>
              <a href="<%= custom_content_path("Thrillers", "type_of_content") %>">Thrillers</a>
              <a href="<%= custom_content_path("Horror", "type_of_content") %>">Horror</a>
              <a href="<%= custom_content_path("Bollywood", "type_of_content") %>">Bollywood</a>
              <a href="<%= custom_content_path("Documentaries", "type_of_content") %>">Documentaries</a>
              <a href="<%= custom_content_path("Dramas", "type_of_content") %>">Dramas</a>
            </div>
          </div>
        </li>
      <% end %> 
      </ul>
    </div>
  </div>
</nav>

<div id="search_results" class="">
</div>

