<div class="mt-2 mb-2">
  <div class="custom-dropdown">
    <button id="dropdownDefaultButton" class="dropdown-button text-grey bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
      Season <%= changed_season.season_no %>
      <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
      </svg>
    </button>
    <div class="dropdown-content divide-gray-100 rounded-lg shadow  dark:bg-gray-700">
      <% seasons = @content.seasons.order(:season_no) %>
      <% seasons.each do |season| %>
          <%= button_to "Season #{season.season_no}", showseason_path(@content, season), method: :post, remote: true, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
      <% end %>  
    </div>
  </div>
</div> 
<% episodes = changed_season.episodes.order(:episode_no) %>
<% episodes.with_attached_episode.each do |episode| %>
  <div width="100%" height="30px" >
    <p><%= "S#{changed_season.season_no}" %> <%= "Ep #{episode.episode_no}" %></p>
    <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900" onclick="playVideo('<%= url_for(episode.episode) %>')">Play</button>
  </div>
<% end %>