<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 23, 23);
    color: white;
  }
</style>
<%= render 'shared/notice' %>
<div class="mt-8">
  <%= link_to root_path, class: 'text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg mt-8 text-sm px-5 py-2.5 text-center me-2 mb-2' do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Back to Home
  <% end %>
</div>
<main class="mr-20 ml-20 mt-8">
<div class="mr-20 ml-20 mt-10">
  <h1 class="text-4xl text-red-700 mt-4 decoration-4">Choose the plan that’s right for you,</h1>
  <div class="mr-8 ml-8">
    <ul>
      <li>Watch all you want.</li>
      <li>Recommendations just for you.</li>
      <li>Full Hd Video Quality.</li>
      <li>Enjoy Movies and Tv Show.</li>
      <li>Add Your Favourite movies and Tv show to your list.</li>
    </ul>
  </div>  
  <div class="grid grid-cols-4 gap-10 text-center mt-5">
    <div class="border border-lime-500">
      <div class="mr-5 ml-5">
        <div class="mt-3 mb-4">
          <h3 class="text-3xl text-white-700 mt-4 decoration-4">Monthly Plan</h3>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Price</h5>
          <p>$15 For a months</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Resolution</h5>
          <p>4K (Ultra HD) + HDR</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Devices your household can watch at the same time</h5>
          <p>4</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Video and sound quality</h5>
          <p>Best</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Supported devices</h5>
          <p>Mobile phone, tablet</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <%= button_to 'Subscribe', stripe_checkout_path(price_id: @monthly_price.id), data: { turbo: 'false' }, class: 'text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800' %>
        </div>
      </div>  
    </div>
    <div class="border border-lime-500">
      <div class="mr-5 ml-5">
        <div class="mt-3 mb-4">
          <h3 class="text-3xl text-white-700 mt-4 decoration-4">Three Months Plan</h3>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Price</h5>
          <p>$40 For 3 months</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Resolution</h5>
          <p>4K (Ultra HD) + HDR</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Devices your household can watch at the same time</h5>
          <p>4</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Video and sound quality</h5>
          <p>Best</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Supported devices</h5>
          <p>TV, computer, mobile phone, tablet</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <%= button_to 'Subscribe', stripe_checkout_path(price_id: @monthly_price.id), data: { turbo: 'false' }, class: 'text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800' %>
        </div>
      </div>  
    </div>
    <div class="border border-lime-500">
      <div class="mr-5 ml-5">
        <div class="mt-3 mb-4">
          <h3 class="text-3xl text-white-700 mt-4 decoration-4">Six Months Plan</h3>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Price</h5>
          <p>$70 For 6 months</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Resolution</h5>
          <p>4K (Ultra HD) + HDR</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Devices your household can watch at the same time</h5>
          <p>4</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Video and sound quality</h5>
          <p>Best</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Supported devices</h5>
          <p>TV, computer, mobile phone, tablet</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <%= button_to 'Subscribe', stripe_checkout_path(price_id: @monthly_price.id), data: { turbo: 'false' }, class: 'text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800' %>
        </div>
      </div>  
    </div>
    <div class="border border-lime-500">
      <div class="mr-5 ml-5">
        <div class="mt-3 mb-4">
          <h3 class="text-3xl text-white-700 mt-4 decoration-4">Yearly Plan</h3>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Price</h5>
          <p>$150 For a year</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Resolution</h5>
          <p>4K (Ultra HD) + HDR</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Devices your household can watch at the same time</h5>
          <p>4</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Video and sound quality</h5>
          <p>Best</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <h5 class="text-xl text-white-700 mt-4 decoration-4">Supported devices</h5>
          <p>TV, computer, mobile phone, tablet</p>
        </div>
        <hr/>
        <div class="mt-3 mb-2">
          <%= button_to 'Subscribe', stripe_checkout_path(price_id: @monthly_price.id), data: { turbo: 'false' }, class: 'text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800' %>
        </div>
      </div>  
    </div>
  </div>  
</div>
</main>