<%= form_with(model: semi_user, local: false) do |form| %>
  <div class="p-4 md:p-5 space-y-4">
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class:"inp" %>
    </div>

    <div>
      <%= form.label :profile_pic, style: "display: block" %>
      <%= form.file_field :profile_pic, accept: 'image/*' %>
    </div> 
  </div>
  <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
    <button data-modal-hide="edituserModal<%= semi_user.id %>" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
    <%= form.submit  "Submit", class:"focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>      







