<style>
  .icon1 {
    font-size: 25px;
    position: absolute;
    margin-left: 270px;
    top: 30px;
    color: white;
    cursor: pointer;
  }
  .icon2 {
    font-size: 25px;
    margin-left: 200px;
    color: red;
    cursor: pointer;
  }
  .profile {
    height: 300px;
    width: 300px;
    margin: auto; 
  }
  .borde {
    border-radius: 20px; 
  }
  .profile img {
    border-radius: 20px; 
    box-shadow: 0px 0px 4px 2px blue;
  }
  h2{
    color:red;
    text-align: center;
  }
  .inp{
    width: 100%;
    height: auto;
    margin:5px;
    font-size:20px;
  }
  .modal-backdrop {
   background-color: red;
  }
</style>
<div class="container">
  <%= link_to "Add profile", new_semi_user_path, class: "text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900",
  data: { toggle: 'modal', target: '#newUserModal', remote: true } %>
  <div class="grid grid-cols-3 gap-4 justify-items-center"> 
    <% @semi_users.each do |semi_user| %>
      <div class="col-lg-4 bg-transparent mt-5 rounded-lg">
        <div class="profile shadow mt-5 rounded-lg relative">
          <div class="dropdown inline-block relative">
            <button class="bg-gray-300 text-white-700 font-semibold py-2 px-4 rounded inline-flex items-center">
              <span class="mr-1"><i class="fa fa-ellipsis-v icon1" aria-hidden="true"></i></span>
            </button>
            <ul class="dropdown-menu absolute hidden text-white-700 pt-1">
              <li><%= link_to 'Edit', edit_semi_user_path(semi_user), class: 'block px-4 py-2 text-sm capitalize text-white-900 hover:bg-white-400 icon2' %></li>
              <li><%= button_to 'Delete', semi_user, method: :delete, class: 'block px-4 py-2 text-sm capitalize text-white-900 hover:bg-white-400 icon2' %></li>
            </ul>
          </div>  
          <%= link_to session_create_path(semi_user.id) do %>
              <% if semi_user.profile_pic.present? %>
              <img src="<%=  semi_user.profile_pic %>" class="w-full h-full object-cover rounded-lg" />
            <% else %>
              <img src="https://i.stack.imgur.com/l60Hf.png" class="w-full h-full object-cover rounded-lg" />  
            <% end %>
          <% end %>  
          <h1 class="text-red-500 text-center"><%= semi_user.name %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Toggle dropdown menu visibility
    document.querySelectorAll('.dropdown').forEach(function (dropdown) {
      dropdown.addEventListener('click', function () {
        this.querySelector('.dropdown-menu').classList.toggle('hidden');
      });
    });

    // Close dropdown menu when clicking outside
    document.addEventListener('click', function (event) {
      document.querySelectorAll('.dropdown').forEach(function (dropdown) {
        if (!dropdown.contains(event.target)) {
          dropdown.querySelector('.dropdown-menu').classList.add('hidden');
        }
      });
    });
  });
</script>
