<%= stylesheet_link_tag "semi_user_index" %>
<%= render 'shared/header' %>
<div class="col-lg-12 container borde">
  <%= link_to "Add profile", new_semi_user_path, class: "btn btn-danger btn-lg mb-2 shadow",
  data: { bs_toggle: 'modal', bs_target: '#newUserModal', remote: true } %>
  <div class="row justify-content-center borde"> 
    <% @semi_users.each do |semi_user| %>
      <%= render "semi_user", semi_user: semi_user %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newUserModalLabel">Create New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newuserForm">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>